Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-use-if-init,
  -modernize-use-trailing-return-type,
  -performance-avoid-endl,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic

WarningsAsErrors: '*'

CheckOptions:
  - key: readability-function-size.ParameterThreshold
    value: 5

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.VariableCase
    value: camelBack

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE