BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
PointerAlignment: Right
ReferenceAlignment: Right

AccessModifierOffset: -4

NamespaceIndentation: All
IndentPPDirectives: AfterHash

SortIncludes: false